## Udacity AI Programming with Python Nanodegree

## Python: Data types Operators Datastructures

### Printing in python

### Using %

In [12]:
my_variable = 23
t = type(my_variable)
print("My variable is $%.2f " % my_variable)

My variable is $23.00

In [15]:
my_second_variable = 34.0

### Using .format

In [18]:
print("My variables are {x1} and {x2}".format(x1 = my_variable, x2 = my_second_variable))

My variables are 23 and 34.0

In [8]:
type(my_variable)

int

In [108]:
print("The answer is %d today" % 10)
print("The answer is {0}".format(x))
print("The answer is {x}".format(x=x))

The answer is 10 today
The answer is 10.0
The answer is 10.0

In [ ]:
print("My variable {}")

In [83]:
age = 23
print("Your age is %d" % age)
print("Your age is {0}".format(age))

Your age is 23
Your age is 10.0

### Using f format

In [109]:
print(f"The variable is {my_variable}")

The variable is 23

In [110]:
x = 10
print(f"The answer is {x} today")
print(f"the answe is {x: 08d} today")
print(f"the answer is {x**2: 08d} today")

The answer is 10 today
the answe is  0000010 today
the answer is  0000100 today

In [111]:
x = 10.00000
print("The answer is %.2f today" % 10)
print("The answer is {0}".format(x))
print("The answer is {x}".format(x=x))
print(f"The answer is {x} today")
print(f"the answe is {x: f} today")
print(f"the answer is {x**2: .2f} today")

The answer is 10.00 today
The answer is 10.0
The answer is 10.0
The answer is 10.0 today
the answe is  10.000000 today
the answer is  100.00 today

## Data type and Operators

## Basic datatypes and operations: int, float, bool, string

In [112]:
s = 'banana'

In [113]:
s[0]

'b'

In [114]:
s[-1]

'a'

In [115]:
s[:-1]

'banan'

In [116]:
s1 = 'orange'
s2= 'juice'
s1 + s2

'orangejuice'

In [117]:
result = 1 + 1.0

In [118]:
type(result)

float

In [119]:
s1 + 1

TypeError: must be str, not int

### For Loop

In [120]:
fruits = 'apple:orange:banana:grape'.split(':')

In [121]:
print(fruits)

['apple', 'orange', 'banana', 'grape']

In [122]:
for elt in fruits:
    print(elt)

apple
orange
banana
grape

In [123]:
for i in range(len(fruits)):
    print(fruits[i])

apple
orange
banana
grape

### while loop

In [125]:
elt = [1, 2, 3, 4, 5]
i = 0
while i < len(elt):
    print(elt[i])
    i+= 1

1
2
3
4
5

## Break and continue

In [126]:
elt = [1, 2, 3, 4, 5, 6, 8, 9, 10]
for i in elt:
    if i%2 == 0:
        print(i)
        continue

2
4
6
8
10

In [128]:
[i for i in elt if i%2 == 0]

[2, 4, 6, 8, 10]

In [129]:
elts = [i for i in elt if i%2==0]

In [130]:
elts

[2, 4, 6, 8, 10]

In [131]:
elt = [1, 2, 3, 4, 5, 6, 8, 9, 10]
for i in elt:
    if i%2 == 0:
        print(i)
        break

2

## Data structures

In [132]:
#Types of Data Structures: Lists, Tuples, Sets, Dictionaries, Compound Data Structures
#Operators: Membership, Identity
#Built-In Functions or Methods

### 1 - 1 List

In [133]:
# create a list
# accessing element
# indexing
# slice and dice
# list comprehension
# tuple comprehension
# enumerate
# zip

In [134]:
my_things = [1,2, 3, 'orange', 1.9]

In [135]:
for elt in my_things:
    print(elt)

1
2
3
orange
1.9

In [136]:
my_things[-2:]

['orange', 1.9]

### 2 - Tuple

In [137]:
##immutable data structures ordered immutable
tup = (1, 2, 3)

In [138]:
tup

(1, 2, 3)

In [139]:
tup2 = (1, '23', 4)

In [140]:
tup2[0]

1

In [141]:
for elt in tup2:
    print(elt)

1
23
4

### Generators

In [146]:
elt = [1, 2, 3, 4, 5, 6, 7, 8]

In [147]:
g = (i for i in elt if i%2 == 0)

In [148]:
for i in g:
    print(i)

2
4
6
8

### 3 - Sets

In [149]:
## mutable unordered container of unique items
# {}, set(sequence): add, pop

In [150]:
s = {'orange', 'ananas'}

In [151]:
s.add('ananas')

In [152]:
s.pop()

'orange'

### 4 - Dictionary

In [153]:
# key-value pair element
d = dict()

In [154]:
type(d)

dict

In [155]:
d['a'] = 'ananas'
d['o'] = 'orange'

In [156]:
d['a']

'ananas'

### Function

In [157]:
#Defining Functions
#Variable Scope
#Documentation
#Lambda Expressions
#Iterators and Generators
# generator a way to create iterators
# an iterator is an object that represent a stream of data
# an iterable 
# Generator is a function that return an iterator
def my_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

### Object Oriented programming

In [158]:
holding = {'name': 'AA', 'date':'2007-06-11', 'shares': 100, 'price': 32.2}

In [159]:
students = {'name':'sean', 'Nanodegree':'Ai programming python', 'enrolment_date': '2019-06-11', 'grade':23, 'credit_unit': 12}

In [160]:
students['name']

'sean'

In [161]:
class Student(object):
    def __init__(self, name, nanodegree, enrolment_date, grade, credit_unit):
        self.name = name
        self.nanodegree = nanodegree
        self.enrolment_date = enrolment_date
        self.grade = grade
        self.credit_unit = credit_unit
    
    def has_pass(self):
        return self.grade > 100

In [162]:
stud = Student('sean', 'AI programming python', '2019-06-11', 23, 12)

In [163]:
stud.name

'sean'

In [164]:
stud.has_pass()

False

In [165]:
# create a class

In [166]:
class Holding(object):
    def __init__(self, name, date, shares, price):
        self.name = name
        self.date = date
        self.shares = shares
        self.price = price
        
    def cost(self):
        return self.shares * self.price
    
    def sell(self, nshares):
        self.shares -= nshares

In [167]:
h = Holding('AA', '2007-06-11', 100, 32)

In [168]:
h

In [169]:
h.price

32

In [170]:
h.shares

100

In [171]:
h.company_name = 'American Airlines'

In [172]:
h

In [173]:
h.sell(25)

In [174]:
h.shares

75

In [175]:
# get an attribute
# set an attribute
# delete an attribue

In [176]:
h.time = '10:30'

In [177]:
del h.time

In [178]:
h.cost()

2400

In [179]:
c = h.cost

In [180]:
c()

2400

In [181]:
s = h.sell

In [182]:
s(10)

In [183]:
c()

2080

### Inheritance

In [184]:
class Parent(object):
    def __init__(self, value):
        self.value = value
        
    def spam(self):
        print('Parent.spam', self.value)
        
    def grok(self):
        print('Parent.grok')
        self.spam()

In [185]:
p = Parent(12)

In [186]:
p.value

12

In [187]:
p.spam()

Parent.spam 12

In [188]:
p.grok()

Parent.grok
Parent.spam 12

In [189]:
class Child1(Parent):
    def yow(self):
        print('child1.yow')

In [190]:
c = Child1(42)

In [191]:
c.value

42

In [192]:
c.spam()

Parent.spam 42

In [193]:
c.yow()

child1.yow

In [194]:
# rewrite an existing function
class Child2(Parent):
    def spam(self):
        print('Child2.spam', self.value)

In [195]:
c2 = Child2(42)
c2.spam()

Child2.spam 42

In [196]:
c2.grok()

Parent.grok
Child2.spam 42

In [197]:
# add a functionality to an existing function
class Child3(Parent):
    def spam(self):
        print('Child3.spam')
        super().spam()

In [198]:
c3 = Child3(42)
c3.spam()

Child3.spam
Parent.spam 42

In [199]:
c3.grok()

Parent.grok
Child3.spam
Parent.spam 42

In [200]:
# add a new attribute
class Child4(Parent):
    def __init__(self, value, extra):
        self.extra = extra
        super().__init__(value) # initialize the parent

In [201]:
c4 = Child4(42, 72)
c4.value

42

In [202]:
c4.extra

72

In [203]:
c4.spam()

Parent.spam 42

In [204]:
class Parent2(object):
    def yow(self):
        print('Parent2.yow')

In [205]:
class Child5(Parent, Parent2):
    pass

In [206]:
c5 = Child5(32)

## Next we will go more in depth in OOP and inheritance