# Scripting and OOP

## Scripting

### Using string

In [181]:
name = input('Enter a name: \n')
print('Hello', name.title(),'!')

Enter a name:
eric
Hello Eric !

In [182]:
name = input('Enter a name: \n')
print('Hello {}!'.format(name.title()))

Enter a name:
eric
Hello Eric!

In [183]:
name = input('Enter a name: \n')
print(f'Hello {name.title()}!')

Enter a name:
eric
Hello Eric!

In [184]:
name = input('Enter a name: \n')
print('Hello ' + name.title() + '!')

Enter a name:
eric
Hello Eric!

### Numbers

In [185]:
num = input('Enter a number: \n')
print(f'The number you entered is {num}')

Enter a number:
12
The number you entered is 12

In [186]:
num = input('Enter a number: \n')
print(f'The square of that number is: {12*2}')

Enter a number:
12
The square of that number is: 24

In [187]:
num = input('Enter a number: \n')
num += 23
print(f'The square of that number is: {num}')

Enter a number:
23

TypeError: must be str, not int

In [188]:
num = int(input("enter a number"))
num += 12
print(f'The number added 12 is {num}')

enter a number12
The number added 12 is 24

### Using eval

In [189]:
result = eval(input("Enter a number \n"))
print(result)

Enter a number
12
12

In [190]:
result = eval(input("Enter a number"))
result += 23
print(result)

Enter a number12
35

In [191]:
mul = eval(input("Enter an expression"))
print(f'here is my expression {mul}')

Enter an expression12
here is my expression 12

###  Error handling

#### Syntax error

In [192]:
msg = 'helo world
print(msg)

SyntaxError: EOL while scanning string literal (<ipython-input-192-59e05641398f>, line 1)

### Exceptions

<img src='images/exception.png'>

In [195]:
x = input('Enter a number')
x += 20
print(x)

Enter a number12

TypeError: must be str, not int

In [197]:
x = int(input('Enter a number'))
x += 20
print(x)

Enter a numberhello

ValueError: invalid literal for int() with base 10: 'hello'

In [198]:
print(my_variable)

NameError: name 'my_variable' is not defined

### Handling errors

In [199]:
try:
    num_1 = int(input("Enter a number \n"))
    num_1 += 20
    print(num_1)
except:
    print(f'That\'s not a valid number')

Enter a number
hello
That's not a valid number

In [201]:
try:
    num_1 = int(input("Enter a number \n"))
    num_1 += 20
    print(num_1)
except ValueError:
    print(f'That\'s not a valid number')

Enter a number
12
32

In [202]:
try:
    x = input('Enter a number\n')
    x += 20
    print(x)
except TypeError:
     print(f'That\'s not a valid number')

Enter a number
hello
That's not a valid number

In [203]:
try:
    print(my_variable)
except NameError:
    print(f'my_variable is not a valid defined')

my_variable is not a valid defined

In [204]:
try:
    num_1 = int(input("Enter a number \n"))
    num_1 += 20
    print(num_1)
except:
    print(f'That\'s not a valid number \n')
finally:
    print('Please try again')

Enter a number
hello
That's not a valid number

Please try again

In [205]:
try:
    x = input('Enter a number\n')
    x += 20
    print(x)
except(TypeError, ValueError) as err:
    print(f'That\'s not a valid number')
    print('Reason: ', err)

Enter a number
hello
That's not a valid number
Reason:  must be str, not int

In [206]:
try:
    x = input('Enter a number\n')
    x = int(x)
    x += 20
    print(x)
except(TypeError, ValueError) as err:
    print(f'That\'s not a valid number')
    print('Reason: ', err)

Enter a number
hello
That's not a valid number
Reason:  invalid literal for int() with base 10: 'hello'

In [210]:
try:
    x = input('Enter a number\n')
    x += 20
    print(x)
except TypeError as err:
    print(f'That\'s not a valid number')
    print(f'Reason: Type error occured {err}')
except ValueError as err:
    print(f'That\'s not a valid number')
    print(f'Reason: Value error occured {err}')
except Exception as err:
    print("Reason: ", err)
finally:
    print('end of the program')

Enter a number
hello
That's not a valid number
Reason: Type error occured must be str, not int
end of the program

### Files and imports

In [211]:
f = open('my_file.txt', 'w')
f.write("Hello there!")
f.close()

In [212]:
f = open('my_file.txt', 'r')
file_data = f.read()
f.close()

In [213]:
print(file_data)

Hello there!

In [214]:
with open('my_file.txt', 'r') as f:
    file_data = f.read()
    print(file_data)

Hello there!

In [215]:
from myscript import *
greetings('eric')

Hello eric!

In [216]:
from myscript import greetings as g
g('eric')

Hello eric!

In [217]:
from myscript import add
add(1, 2)

3

### Object Oriented Programming

In [218]:
from statistics import mean

In [219]:
class Student:
    """The Student class represents a student and his grades.
    """
    
    def __init__(self, first_name, last_name, country, grades):
        """Method for initializing a student object.
        
        Args:
            first_name (str)
            last_name (str)
            country (str)
            grades (list)

        Attributes:
            first_name (str): first name of a student object.
            last_name (str): last name of a student object.
            country (str): country of a student object
            grades (list): grades of a student object
            
        """
        self.first_name = first_name
        self.last_name = last_name
        self.country = country
        self.grades = grades
        
    def change_first_name(self, new_name):
        """The change_first_name method changes the first_name attribute of student pants object
        
        Args:
            new_name (str): The new first name of the student object.
            
        Returns: None
        """
        self.first_name = new_name
    
    def change_last_name(self, new_name):
        """The change_last_name method changes the last_name attribute of a student object
        
        Args:
            new_name (str): The new last name of the student object
            
        Returns: None
        """
        self.last_name = new_name
        
    def average_grades(self):
        """The average grade of the student object
        
        Returns:
            float: the average grade
        """
        return mean(self.grades)

In [220]:
s = Student('eric', 'brown', 'us', [23, 4,56])

In [221]:
s

In [222]:
s.first_name

'eric'

In [223]:
s.last_name

'brown'

In [224]:
s.country

'us'

In [225]:
s.grades

[23, 4, 56]

In [226]:
print(s)

<__main__.Student object at 0x111855710>

In [227]:
print(f'The average is {s.average_grades(): .2f}')

The average is  27.67

In [228]:
help(s)

Help on Student in module __main__ object:

class Student(builtins.object)
 |  The Student class represents a student and his grades.
 |
 |  Methods defined here:
 |
 |  __init__(self, first_name, last_name, country, grades)
 |      Method for initializing a student object.
 |
 |      Args:
 |          first_name (str)
 |          last_name (str)
 |          country (str)
 |          grades (list)
 |
 |      Attributes:
 |          first_name (str): first name of a student object.
 |          last_name (str): last name of a student object.
 |          country (str): country of a student object
 |          grades (list): grades of a student object
 |
 |  average_grades(self)
 |      The average grade of the student object
 |
 |      Returns:
 |          float: the average grade
 |
 |  change_first_name(self, new_name)
 |      The change_first_name method changes the first_name attribute of student pants object
 |
 |      Args:
 |          new_name (str): The new first name of the student object.
 |
 |      Returns: None
 |
 |  change_last_name(self, new_name)
 |      The change_last_name method changes the last_name attribute of a student object
 |
 |      Args:
 |          new_name (str): The new last name of the student object
 |
 |      Returns: None
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [229]:
help(s.change_first_name)

Help on method change_first_name in module __main__:

change_first_name(new_name) method of __main__.Student instance
    The change_first_name method changes the first_name attribute of student pants object

    Args:
        new_name (str): The new first name of the student object.

    Returns: None

### Magic methods

In [230]:
class Student:
    """The Student class represents a student and his grades.
    """
    
    def __init__(self, first_name, last_name, country, grades):
        """Method for initializing a student object.
        
        Args:
            first_name (str)
            last_name (str)
            country (str)
            grades (list)

        Attributes:
            first_name (str): first name of a student object.
            last_name (str): last name of a student object.
            country (str): country of a student object
            grades (list): grades of a student object
            
        """
        self.first_name = first_name
        self.last_name = last_name
        self.country = country
        self.grades = grades
        
    def change_first_name(self, new_name):
        """The change_first_name method changes the first_name attribute of student object
        
        Args:
            new_name (str): The new first name of the student object.
            
        Returns: None
        """
        self.first_name = new_name
    
    def change_last_name(self, new_name):
        """The change_last_name method changes the last_name attribute of a student object
        
        Args:
            new_name (str): The new last name of the student object
            
        Returns: None
        """
        self.last_name = new_name
        
    def __repr__(self):
        return f'Student ({self.first_name} {self.last_name}, {self.country}, {self.grades})'
    
    def __str__(self):
        return f'A student with first name: {self.first_name}, Last name: {self.last_name},Country of origin {self.country}, Grades {self.grades}'
        
    def average_grades(self):
        """The average grade of the student object
        
        Args:
            None
        
        Returns:
            float: the average grade
        """
        return mean(self.grades)

In [231]:
s = Student('eric', 'brown', 'us', [23, 4,56])

In [232]:
print(s)

A student with first name: eric, Last name: brown,Country of origin us, Grades [23, 4, 56]

In [235]:
s

Student (eric brown, us, [23, 4, 56])

In [236]:
s.first_name

'eric'

### Inheritance

In [237]:
class Person:
    """The Person class represents a Person.
    """
    
    def __init__(self, first_name, last_name, country):
        """Method for initializing a Person object.
        
        Args:
            first_name (str)
            last_name (str)
            country (str)
        Attributes:
            first_name (str): first name of a person object.
            last_name (str): last name of a person object.
            country (str): country of a person object
            
        """
        self.first_name = first_name
        self.last_name = last_name
        self.country = country
        
        
    def change_first_name(self, new_name):
        """The change_first_name method changes the first_name attribute of a person object
        
        Args:
            new_name (str): The new first name of the person bject.
            
        Returns: None
        """
        self.first_name = new_name
    
    def change_last_name(self, new_name):
        """The change_last_name method changes the last_name attribute of a person object
        
        Args:
            new_name (str): The new last name of the person object
            
        Returns: None
        """
        self.last_name = new_name
        
    def __repr__(self):
        """Function to output the characteristics of a person object
        Args:
            None
        Returns:
            string: characteristics of a person object
        """
        return f'Student ({self.first_name} {self.last_name}, {self.country})'
    
    def __str__(self):
        """Function to output the characteristics of a person object in a readable format.
        Args:
            None
        Returns:
            string: characteristics of a person object in a readable format.
        
        """
        return f'A student with first name: {self.first_name}, Last name: {self.last_name},Country of origin {self.country}'

In [246]:
class Student1(Person):
    """The Student1 class represents a student
    """
    
    def __init__(self, first_name, last_name, country, grades):
        """Method for initializing a Student1 object.
        
        Args:
            first_name (str)
            last_name (str)
            country (str)
            grades (list)
        Attributes:
            first_name (str): first name of a Student1 object.
            last_name (str): last name of a Student1 object.
            country (str): country of a Student1 object
            grades (list): grades of a Student1 object
        """
        self.grades = grades
        super().__init__(first_name, last_name, country)
        
    
    def average_grades(self):
        """The average grade of the student object
        
        Returns:
            float: the average grade
        """
        return mean(self.grades)
    
    def __repr__(self):
        return f'Student ({self.first_name} {self.last_name}, {self.country}, {self.grades})'
    
    def __str__(self):
        return f'A student with first name: {self.first_name}, Last name: {self.last_name},Country of origin {self.country}, Grades {self.grades}'

In [247]:
s1 = Student1('eric', 'brown', 'us', [23, 4,56])

In [248]:
s1

Student (eric brown, us, [23, 4, 56])

In [249]:
s1.change_first_name('joseph')

In [250]:
print(s1)

A student with first name: joseph, Last name: brown,Country of origin us, Grades [23, 4, 56]

In [241]:
help(s1)

Help on Student1 in module __main__ object:

class Student1(Person)
 |  The Student1 class represents a student
 |
 |  Method resolution order:
 |      Student1
 |      Person
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, first_name, last_name, country, grades)
 |      Method for initializing a Student1 object.
 |
 |      Args:
 |          first_name (str)
 |          last_name (str)
 |          country (str)
 |          grades (list)
 |      Attributes:
 |          first_name (str): first name of a Student1 object.
 |          last_name (str): last name of a Student1 object.
 |          country (str): country of a Student1 object
 |          grades (list): grades of a Student1 object
 |
 |  __repr__(self)
 |      Function to output the characteristics of a person object
 |      Args:
 |          None
 |      Returns:
 |          string: characteristics of a person object
 |
 |  __str__(self)
 |      Function to output the characteristics of a person object in a readable format.
 |      Args:
 |          None
 |      Returns:
 |          string: characteristics of a person object in a readable format.
 |
 |  average_grades(self)
 |      The average grade of the student object
 |
 |      Returns:
 |          float: the average grade
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Person:
 |
 |  change_first_name(self, new_name)
 |      The change_first_name method changes the first_name attribute of a person object
 |
 |      Args:
 |          new_name (str): The new first name of the person bject.
 |
 |      Returns: None
 |
 |  change_last_name(self, new_name)
 |      The change_last_name method changes the last_name attribute of a person object
 |
 |      Args:
 |          new_name (str): The new last name of the person object
 |
 |      Returns: None
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Person:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [251]:
s1.change_first_name('johnson')

In [252]:
s1

Student (johnson brown, us, [23, 4, 56])

### Putting all together

In [253]:
with open('students.txt', 'r') as f:
    data = f.read()
    print(data)

monica,brown,us,1 2 3 4 5
stephen,johnson,us,6 7 8 9 10
daria,montieri,italy,34 56 78 13
joseph,buchon,france,5 67 8 90 2
emilie,rousseau,france,34 56 7 12 34
alexandria,panietieri,italy,56 6 23 1 2
sac,dupont,belgium,34 56 78 9 0 12
marco,sortino,italy,45 67 8 9 0
michelle,frocio,italy,65 78 89 0 90
decamilla,branbieri,italy,3 4 5 6 7

In [255]:
import csv
with open('students.txt', 'r') as f:
    rows = csv.reader(f)
    for line in rows:
        first, last, country, grades = line
        print(first, last, country, grades)

monica brown us 1 2 3 4 5
stephen johnson us 6 7 8 9 10
daria montieri italy 34 56 78 13
joseph buchon france 5 67 8 90 2
emilie rousseau france 34 56 7 12 34
alexandria panietieri italy 56 6 23 1 2
sac dupont belgium 34 56 78 9 0 12
marco sortino italy 45 67 8 9 0
michelle frocio italy 65 78 89 0 90
decamilla branbieri italy 3 4 5 6 7

In [260]:
students = []
with open('students.txt', 'r') as f:
    rows = csv.reader(f)
    for line in rows:
        first, last, country, grades = line
        grades = [int(grade) for grade in grades.split()]
        s = Student1(first, last, country, grades)
        students.append(s)

In [261]:
students

[Student (monica brown, us, [1, 2, 3, 4, 5]),
 Student (stephen johnson, us, [6, 7, 8, 9, 10]),
 Student (daria montieri, italy, [34, 56, 78, 13]),
 Student (joseph buchon, france, [5, 67, 8, 90, 2]),
 Student (emilie rousseau, france, [34, 56, 7, 12, 34]),
 Student (alexandria panietieri, italy, [56, 6, 23, 1, 2]),
 Student (sac dupont, belgium, [34, 56, 78, 9, 0, 12]),
 Student (marco sortino, italy, [45, 67, 8, 9, 0]),
 Student (michelle frocio, italy, [65, 78, 89, 0, 90]),
 Student (decamilla branbieri, italy, [3, 4, 5, 6, 7])]

In [262]:
print(students)

[Student (monica brown, us, [1, 2, 3, 4, 5]), Student (stephen johnson, us, [6, 7, 8, 9, 10]), Student (daria montieri, italy, [34, 56, 78, 13]), Student (joseph buchon, france, [5, 67, 8, 90, 2]), Student (emilie rousseau, france, [34, 56, 7, 12, 34]), Student (alexandria panietieri, italy, [56, 6, 23, 1, 2]), Student (sac dupont, belgium, [34, 56, 78, 9, 0, 12]), Student (marco sortino, italy, [45, 67, 8, 9, 0]), Student (michelle frocio, italy, [65, 78, 89, 0, 90]), Student (decamilla branbieri, italy, [3, 4, 5, 6, 7])]

In [263]:
for student in students:
    print(student)

A student with first name: monica, Last name: brown,Country of origin us, Grades [1, 2, 3, 4, 5]
A student with first name: stephen, Last name: johnson,Country of origin us, Grades [6, 7, 8, 9, 10]
A student with first name: daria, Last name: montieri,Country of origin italy, Grades [34, 56, 78, 13]
A student with first name: joseph, Last name: buchon,Country of origin france, Grades [5, 67, 8, 90, 2]
A student with first name: emilie, Last name: rousseau,Country of origin france, Grades [34, 56, 7, 12, 34]
A student with first name: alexandria, Last name: panietieri,Country of origin italy, Grades [56, 6, 23, 1, 2]
A student with first name: sac, Last name: dupont,Country of origin belgium, Grades [34, 56, 78, 9, 0, 12]
A student with first name: marco, Last name: sortino,Country of origin italy, Grades [45, 67, 8, 9, 0]
A student with first name: michelle, Last name: frocio,Country of origin italy, Grades [65, 78, 89, 0, 90]
A student with first name: decamilla, Last name: branbieri,Country of origin italy, Grades [3, 4, 5, 6, 7]

In [309]:
from abc import ABC, abstractmethod

class My_interface(ABC):
    
    @abstractmethod
    def my_method(self):
        pass
    
    def my_method2(self):
        print('This is a non abstract method')

In [310]:
class My_child(My_interface):
    def my_method(self):
        print('this is the abstract method')

In [311]:
my_child = My_child()

In [312]:
my_child.my_method()

this is the abstract method

In [313]:
my_child.my_method2()

This is a non abstract method

In [314]:
mi = My_interface()

TypeError: Can't instantiate abstract class My_interface with abstract methods my_method

In [315]:
help(mi)

Help on My_interface in module __main__ object:

class My_interface(abc.ABC)
 |  Helper class that provides a standard way to create an ABC using
 |  inheritance.
 |
 |  Method resolution order:
 |      My_interface
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  my_method(self)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from abc.ABC:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [316]:
mi.my_method()