# Control Flow and Functions

## Control Flow

### If Statement

The if statment is used to run a block of code only if the condition is True

<img src="images/if_statement.png">

<b>The condition expression can be a boolean or a non-boolean object.</b><br>
If we use a non-boolean object as a condition in an if statement in place of the boolean expression, Python will check for its truth value and use that to decide whether or not to run the indented code. By default, the truth value of an object in Python is considered True unless specified as False in the documentation.

Here are most of the built-in objects that are considered False in Python:

constants defined to be false: None and False<br>
zero of any numeric type: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)<br>
empty sequences and collections: '"", (), [], {}, set(), range(0)<br>

In [1]:
num = 10
if num < 5:
    print(num)

In [2]:
if num > 5:
    print(num)

10

In [3]:
condition_expression_1 = num < 5

In [6]:
type(condition_expression_1)

bool

In [7]:
print(condition_expression_1)

False

In [8]:
condition_expression_2 = num > 5

In [9]:
print(condition_expression_2)

True

In [10]:
type(condition_expression_2)

bool

In [11]:
phone_balance = 8
bank_balance = 100

print(phone_balance, bank_balance)

if phone_balance < 5:
    phone_balance += 10
    bank_balance -= 10
    
print(phone_balance, bank_balance)

8 100
8 100

### If/else statement

Execute the if block if the 'IF' condition is True, Otherwise execute the else block

<img src="images/if_else.png">

In [12]:
phone_balance = 8
bank_balance = 100

print(phone_balance, bank_balance)

if phone_balance < 5:
    print('phone_balance < 5 update it')
    phone_balance += 10
    bank_balance -= 10
    print(phone_balance, bank_balance)
    
else:
    print('phone_balance >= 5 no need to update it')
    print(phone_balance, bank_balance)

8 100
phone_balance >= 5 no need to update it
8 100

### if/elif/else statement

<img src="images/if_elif_else.png">

In [13]:
age = 11

if age <= 0:
    print('You are not born yet')
elif age > 0 and age <= 7:
    print('You are a Baby')
elif age > 7 and age <= 9:
    print('You are a Child')
elif age > 9 and age <= 12:
    print('You are a Preteen')
elif age > 12 and age <= 19:
    print('You are a Teenager')
elif age > 19 and age <= 25:
    print('You are a Young adult')
elif age > 25 and age <= 65:
    print('You are an Adult')
else:
    print('You are an old person')

You are a Preteen

### Boolean Expression

Any expression that evaluate to either True, or False. Any expression that has a type bool

#### Comparison Operators

 #### == operator: evaluate if two operands are equal

In [228]:
a = 3
b = 4
print('Type of a == b',type(a == b))
print(a == b)

Type of a == b <class 'bool'>
False

#### != operator: evaluate if two operand are not equal

In [229]:
print('Type of a != b',type(a != b))
print(a != b)

Type of a != b <class 'bool'>
True

#### >, <, >=, <= operators

In [230]:
print('Type of a < b',type(a < b))
print(a < b)
print()
print('Type of a > b',type(a > b))
print(a > b)
print()
print('Type of a >= b',type(a >= b))
print(a >= b)
print()
print('Type of a <= b',type(a <= b))
print(a <= b)

Type of a < b <class 'bool'>
True

Type of a > b <class 'bool'>
False

Type of a >= b <class 'bool'>
False

Type of a <= b <class 'bool'>
True

#### Logical Operators: and, or, not

In [231]:
print(a < b and a>0)

True

In [232]:
print(a< b or a < 0)

True

In [233]:
print(not(a < b))

False

#### Membership Operators: in, not in

test for membership in a sequence such as lists, strings, tuples

In [234]:
age_list = [1, 2, 3, 45, 6,6]
age = 2
if age in age_list:
    print("You belong to our tribe")

You belong to our tribe

#### Identity Operators: is, is not

Compare the memory location of two objects

In [235]:
a = 1
b = 1

In [236]:
a is b

True

In [237]:
id(a)

4460161600

In [238]:
id(b)

4460161600

In [239]:
id(a) == id(b)

True

In [240]:
a = [1, 2, 3]
b = [1, 2, 3]

In [241]:
a is b

False

In [242]:
id(a)

4495295944

In [243]:
id(b)

4495070408

In [244]:
id(a) == id(b)

False

### Complex boolean expression

In [245]:
a = 1
b = 2
c = 3
if a < b < c:
    print('Hello')

Hello

In [246]:
unsubscribed = False
location = "USA"
if (not unsubscribed) and (location == "USA" or location == "CAN"):
    print("send email")

send email

### Best Practices

1. Don't use True or False as conditions
2. Be careful writing expressions that use logical operators.
3. Don't compare a boolean variable with == True or == False

#### For Loop

<img src="images/forloop.png">

In [247]:
fruits = ['pineapple', 'grapefruit','lemon', 'papaya']
for elt in fruits:
    print(elt)

pineapple
grapefruit
lemon
papaya

In [248]:
# range(start=0, stop, step=1)
for elt in range(3):
    print(elt)

0
1
2

### Dictionaries

In [249]:
fruits = 'apples pears oranges grapefruits apples apples pears oranges bananas mangoes bananas'.split()

In [250]:
fruits

['apples',
 'pears',
 'oranges',
 'grapefruits',
 'apples',
 'apples',
 'pears',
 'oranges',
 'bananas',
 'mangoes',
 'bananas']

In [251]:
fruit_counter = {}
for fruit in fruits:
    if fruit not in fruit_counter:
        fruit_counter[fruit] = 1
    else:
        fruit_counter[fruit] += 1

In [252]:
fruit_counter

{'apples': 3,
 'bananas': 2,
 'grapefruits': 1,
 'mangoes': 1,
 'oranges': 2,
 'pears': 2}

#### Using get to build a dictionary

In [253]:
fruit_counter = {}
for fruit in fruits:
    fruit_counter[fruit] = fruit_counter.get(fruit, 0) + 1

In [254]:
fruit_counter

{'apples': 3,
 'bananas': 2,
 'grapefruits': 1,
 'mangoes': 1,
 'oranges': 2,
 'pears': 2}

#### Iterating through dictionary

In [255]:
student_ages = {
    'matt': 11,
    'emily': 23,
    'thomas': 34,
    'ross': 23,
    'sean': 45,
    'eric': 60
}

In [256]:
for student in student_ages:
    print(student)

matt
emily
thomas
ross
sean
eric

In [257]:
for student, age in student_ages.items():
    print(student + ' ' +str(age))

matt 11
emily 23
thomas 34
ross 23
sean 45
eric 60

In [258]:
for age in student_ages.values():
    print(age)

11
23
34
23
45
60

In [259]:
for student in student_ages.keys():
    print(student)

matt
emily
thomas
ross
sean
eric

### While loop

<img src="images/whileloop.png">

In [260]:
card_num = [1, 3, 5, 6, 7, 3]

while card_num.pop()%2 != 0:
    print('Not even yet')
    
print(card_num)

Not even yet
Not even yet
[1, 3, 5]

#### Break

<img src="images/break.png">

In [261]:
card_num = [1, 3, 5, 6, 7, 3]

for elt in card_num:
    if elt%2 == 0:
        break
    print(elt)

1
3
5

### Continue

<img src="images/continue.png">

In [262]:
card_num = [1, 3, 5, 6, 7, 3]

for elt in card_num:
    if elt%2 == 0 :
        continue
    print(elt)

1
3
5
7
3

#### Zip and enumerate

In [263]:
students = ['amy', 'adams', 'eric', 'hector', 'emily', 'tom']
grades = [12, 34, 34, 56, 23, 45]

for student, grade in zip(students, grades):
    print(student, grade)

amy 12
adams 34
eric 34
hector 56
emily 23
tom 45

In [264]:
list(zip(students, grades))

[('amy', 12),
 ('adams', 34),
 ('eric', 34),
 ('hector', 56),
 ('emily', 23),
 ('tom', 45)]

In [265]:
for index, student in enumerate(students):
    print(index, student)

0 amy
1 adams
2 eric
3 hector
4 emily
5 tom

#### List comprehension

In [266]:
even_grades = [grade for grade in grades if not grade%2]

In [267]:
even_grades

[12, 34, 34, 56]

In [268]:
odd_grades = [grade for grade in grades if grade%2]

In [269]:
odd_grades

[23, 45]

In [270]:
students_with_m = [student for student in students if 'm' in student]

In [271]:
students_with_m

['amy', 'adams', 'emily', 'tom']

In [272]:
capitalize_student_name = [student.title() for student in students]

In [273]:
capitalize_student_name

['Amy', 'Adams', 'Eric', 'Hector', 'Emily', 'Tom']

### Functions

<img src="images/function.png">

In [274]:
def multiply_numbers(number1, number2):
    """
    multiply two numbers
    :param number1: the first number.
    :param number2: the second number.
    :return: the product of number1 and number1 defined as number1*number2
    """
    result = number1 * number2
    return result

In [275]:
number1 = 12
number2 = 23
product = multiply_numbers(number1, number2)

In [276]:
print(product)

276

#### Lambda Expression

<img src="images/lambda.png">

In [277]:
multiply = lambda x, y: x*y

In [278]:
multiply(2, 3)

6

In [279]:
add = lambda x, y: x + y

In [280]:
add(2, 3)

5

In [281]:
even = lambda x: x%2 == 0

In [282]:
list(filter(even, [1, 2, 3, 4, 5]))

[2, 4]

In [283]:
odd = lambda x: x%2

In [284]:
list(filter(odd, [1, 2, 3, 4, 5]))

[1, 3, 5]

In [285]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

In [286]:
product

24

In [287]:
sums = reduce((lambda x, y: x + y), [1, 2 , 3, 4, 5, 6, 7])

In [288]:
sums

28

In [289]:
vowels = "AeEeIiOoUu"
letters = ['a', 'b', 'e', 'c', 'd', 'o']
list(filter(lambda x: x in vowels, letters))

['e', 'o']

In [290]:
square = lambda x: x**2

In [291]:
list(map(square, [1, 2, 3, 4, 5, 6, 7, 8]))

[1, 4, 9, 16, 25, 36, 49, 64]

### Generators and Iterators

<img src="images/generators.png">

<img src="images/iterators.png">

<img src="images/gen_expr.png">

In [292]:
def count_down(num):
    print('Starting')
    while num > 0:
        yield num
        num -= 1

In [293]:
val = count_down(5)

In [294]:
val

In [295]:
type(val)

generator

In [296]:
next(val)

Starting

5

In [297]:
next(val)

4

In [298]:
next(val)

3

In [299]:
next(val)

2

In [300]:
next(val)

1

In [301]:
next(val)

StopIteration:

In [302]:
val

In [303]:
next(val)

StopIteration:

<img src="images/iteratorn.png">

In [304]:
fruits = ['apple', 'pineapple', 'banana', 'orange']
french_fruits = ['pomme', 'ananas', 'banane', 'orange']

def my_translation(words, translations):
    for word, translation in zip(words, translations):
        yield word, translation

In [305]:
for word, translation in my_translation(fruits, french_fruits):
    print(f"{word}: {translation}")

apple: pomme
pineapple: ananas
banana: banane
orange: orange

In [306]:
# Generators expression
my_new_translations = (f"{word}: {translation}" for word, translation in zip(fruits, french_fruits))

In [307]:
my_new_translations

In [308]:
type(my_new_translations)

generator

In [309]:
list(my_new_translations)

['apple: pomme', 'pineapple: ananas', 'banana: banane', 'orange: orange']

In [310]:
my_new_translations

In [311]:
list(my_new_translations)

[]

In [312]:
my_new_translations = (f"{word}: {translation}" for word, translation in zip(fruits, french_fruits))

In [313]:
next(my_new_translations)

'apple: pomme'

In [314]:
next(my_new_translations)

'pineapple: ananas'

In [315]:
next(my_new_translations)

'banana: banane'

In [316]:
next(my_new_translations)

'orange: orange'

In [317]:
next(my_new_translations)

StopIteration:

## Next week: Scripting, Intro oop